.cartNumber {
    width: 20px;
    position: absolute;
    left: 5px;
    top: -12px;
    z-index: 2;
    background: #22282e;
    color: #fff;
    border-radius: 50%;
    height: 20px;
    font-size: 11px;
    line-height: 20px;
}