.wheel-container {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}

.wheel-container .spin-btn {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: calc(50% - 50px);
    right: calc(50% - 50px);
    z-index: 10;
    background: #da7345;
    color: white;
    font-weight: bold;
    border: 5px solid black;
    cursor: pointer;
    padding: 0;
}

.wheel-container > div {
    margin: 0 auto;
    max-width: 700px;
    max-height: 700px;

}

.wrapper .logo {
    padding-bottom: 50px;
}

.wrapper .logo img {
    width: 150px;
}

.wrapper .title img {
    width: 80%;
}

.wrapper .win-overlay,
.wrapper .loose-overlay {
    display: none;
    overflow: hidden;
}

.wrapper .win-overlay.isVisible {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 204, 204, .9);
}

.wrapper .loose-overlay.isVisible {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 204, 204, .9);
}

.wrapper .win-overlay img,
.wrapper .loose-overlay img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.wrapper .win-overlay .result-container,
.wrapper .loose-overlay .result-container {
    background: white;
    width: 55%;
    margin: 15% auto 0;
    padding: 30px;
    border-radius: 5px;
    min-height: 450px;
}

.wrapper .win-overlay .title,
.wrapper .loose-overlay .title {
    margin-bottom: 15px;
    font-size: 40px;
}

.wrapper .win-overlay .winning-product {
    font-size: 40px;
}


@media only screen and (max-width: 560px) {
    .wheel-container .spin-btn {
        font-size: 12px;
        width: 60px;
        height: 60px;
        top: calc(50% - 30px);
        right: calc(50% - 30px);
        border: 3px solid black;
    }

    .wrapper .win-overlay .title,
    .wrapper .loose-overlay .title {
        margin-bottom: 15px;
        font-size: 20px;
    }

    .wrapper .win-overlay .winning-product {
        font-size: 20px;
    }
}
