@import "./bootstrap.scss";
@import "swiper/swiper-bundle.css";
@import "./fonts/fonts.css";

body {
  background: var(--bs-gray-100);
  @include media-breakpoint-down(md) {
    padding-top: 6rem;
  }
}

a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}

.slick-prev:before,
.slick-next:before {
  color: #0dcaf0;
  font-size: 25px;
}

#primary_nav {
  .dropdown-toggle {
    font-weight: 500;
    color: #222 !important;
    font-size: 15px;
  }

  .dropdown-item {
    font-size: 14px;
  }
}

.content {
  div,
  p {
    font-size: 15px;
    line-height: 1.8;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 20px;
    font-weight: 700;
  }

  strong,
  b {
    font-weight: 700;
  }
}

ul.swiper_custom_navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;

  li.prev,
  li.next {
    position: absolute;
    z-index: 3;
  }

  li.prev {
    left: 0;
  }
  li.next {
    right: 0;
  }
}

@for $i from 11 through 50 {
  .fs-#{$i} {
    font-size: #{$i}px !important;
  }

  @include media-breakpoint-up(md) {
    .fs-md-#{$i} {
      font-size: #{$i}px !important;
    }
  }
}

.fs-80 {
  font-size: 80px !important;
}
